@font-face {
  font-family: "serf";
  src: url(./untitled-serif-regular.ttf);
}
@font-face {
  font-family: "sas";
  src: url(./untitled-sans-medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.mousefollower{
  mix-blend-mode: normal;
  background-color: #fff;
  height: 1vw !important;
  width: 1vw !important;
}

#loader {
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  /* overflow: hidden; */
  position: fixed;
}

#loader h1 {
  font-size: 11vw;
  height: 12vw;
  color: #000;
}

#loading-page {
  background-color: #171615;
  width: 100%;
  height: 100vh;
}

.content__img {
  height: 90px;
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: transform;
}

#main{
  position: relative;
    background-color: #fff;
}
#page1 {
  height: 79.5vh;
  width: 100%;
  background-color: #171615;
  position: relative;
}

#page1 #nav {
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3vw;
}

#nav h3 {
  font-family: sas;
  font-size: 1.4vw;
  color: #fff;
  font-weight: 400;
}

#content {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 1%;
}

#content h1 {
  font-family: sas;
  font-weight: 400;
  line-height: 8.2vw;
  text-transform: uppercase;
  font-size: 10.4vw;
  color: #fff;
  letter-spacing: -0.6vw;
}

#page2 {
  height: 180vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#page2 .slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-image: url(./resurgimiento-patria..jpg);
  background-size: cover;
}

#page2 .slide#slide1 {
  left: 15%;
  scale: 2.3;
  clip-path: inset(0% 0% 57.9% 0%);
}

#page2 .slide#slide2 {
  left: -10%;
  scale: 2.3;
  clip-path: inset(42% 0% 36% 0%);
}

#page2 .slide#slide3 {
  left: 15%;
  scale: 2.3;
  clip-path: inset(63.9% 0 0 0);
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #171615;
}

#counter {
  width: 48vw;
  height: 40vh;
  position: relative;
  /* overflow: hidden; */
}

.numbmask {
  margin-left: -3vw;
  height: 100%;
  width: 14vw;
  overflow: hidden;
  float: right;
}

.numb {
  color: #fff;
  text-align: center;
  font-size: 21vw;
  font-family: serf;
  font-weight: 400;
  line-height: 20vw;
}

#counter::after{
  content: "(Date of artwork)";
  position: absolute;
  top: 80%;
  right: -40%;
  color: #fff;
  font-size: 2.1vw;
  font-family: sas;
}

.page-content{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 18vw 2vw;
}

.page-content1{
  width: 40%;
}

.page-content1 h2{
  color: #fff;
  font-family: sas;
  font-weight: 400;
  font-size: 2.1vw;
}

.page-content2{
  width: 51%;
}

.page-content2 p{
  color: #fff;
  font-size: 2vw;
  font-family: serf;
  line-height: 2.6vw;
}
#page4 {
  height: 100vh;
  width: 100%;
  background-color: #171615;
  padding-top: 29.8vh;
}

.elem{
  height: 11vw;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  position: relative;
  /* transition: all ease-in-out 0.3s; */
}
.innerelem{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5vw;
  position: absolute;
}

.elem1{
  display: flex;
  align-items: center;
  width: 23%;
  justify-content: space-between;
}

.elem1 i{
  color: #fff;
  padding: 1vw 1.05vw;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 1.6vw;
}

.elem1 h1{
  font-size: 4vw;
  color: #fff;
  font-family: sas;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

.elem1 h1::after{
  content: "3:59 min";
  position: absolute;
  font-size: 1.7vw;
  right: -44%;
  top: 15%;
  font-family: serf;
}

.innerelem h3{
  color: #fff;
  font-family: serf;
  font-weight: 400;
  font-size: 1.7vw;
  width: 30%;
  text-align: center;
}

.overlay{
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left:-100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5vw;
}

.ooelem1{
  display: flex;
  align-items: center;
  width: 23%;
  justify-content: space-between;
  
}
.ooelem1 i{
  color: #000;
  padding: 1vw 1.05vw;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 1.6vw;
}

.ooelem1 h1{
  font-size: 4vw;
  color: #000;
  font-family: sas;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

.ooelem1 h1::after{
  content: "3:59 min";
  position: absolute;
  font-size: 1.7vw;
  right: -44%;
  top: 15%;
  font-family: serf;
}

.overlay h3{
  color: #000;
  font-family: serf;
  font-weight: 400;
  font-size: 1.7vw;
  width: 30%;
  text-align: center;
}

#page5{
  height: 100vh;
  width: 100%;
  background-color: #171615;
 position: relative;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: space-evenly;
 gap: 1vw;
}

#line{
  width: 1.1px;
  height: 10vw;
  background-color: #fff;
}

#page5>p{
  width: 30%;
  font-size: 2.8vw;
  font-family: sans;
  color: #fff;
  text-align: center;
}

#page5 i{
  padding: 0.5vw;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 1.5vw;
  background-color: #fff;
}

#page5 img{
  height: 58px;
  width: 27px;
  object-fit:cover ;
}

#svgdiv{
  height: 9vw;
  width: fit-content;
  overflow: hidden;
}

#page5 svg{
  position: relative;
  top:-28%;
  scale: 1;
  width: 2.4vw;
}

#page6 {
  height: 100vh;
  width: 100%;
  position: relative;
  
}

#container {
  position: relative;
  /* overflow: hidden; */
  height: 100%;
} 


.page6-content {
  height: 100%;
  width: 100%;
  background-image: url('https://museos.arteyeducacion.org/_vercel/image?url=assets%2Fscan-image.iGBffOzw.jpg&w=2048&q=100'); /* Add your background image URL */
  background-size: cover;
  position: absolute;
}


.page6-content .circle {
  position: absolute;
 left:30%;
 top:40%;
  /* background-image: url('https://museos.arteyeducacion.org/_vercel/image?url=assets%2Fscan-image.iGBffOzw.jpg&w=2048&q=100'); Add your background image URL */
  /* background-size: cover; */
  clip-path: circle(10% at 50% 50%);
  /* height: 10vw;
  width: 10vw; */

  /* background-color: red; */
  
  /* overflow: hidden; */
}


#page7{
  min-height: 100vh;
  width: 100%;
  background-color: #171615;
  position: relative;
  padding-top: 0.1vw;
  margin-bottom: -12vw;
}

#page7 h1{
  font-size: 10vw;
  line-height: 9vw;
  color:#fff;
  font-family: sas;
  font-weight: 400;
  margin:0 2vw;
  margin-top: 13vw;
  margin-bottom: -11vw;
}

#page8{
  height: 100vh;
  width: 100%;
  background-color: #171615;
  position: relative;
  padding: 2vw;
}

#imagecon{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#imagecon img{
  scale: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#page9{
  min-height: 100vh;
  width: 100%;
  background-color: #171615;
  position: relative;
  padding: 5vw 2vw;
}

#page9>h1{
  font-size: 2vw;
  color: #fff;
  font-family: sas;
  font-weight: 400;
  margin: 6vw 0;
}

#display{
  height: 55vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.7vw;
}

.display1{
   width: 50%;
   height: 100%;
   position: relative;
}

.display1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.playicon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.playicon i{
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 2.2vw;
  font-size: 2.5vw;
}

#footer{
  height: 100vh;
  width: 100%;
}

#footerdiv{
  background-image: url("./resurgimiento-patria..jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  clip-path: inset(15% 20% 19% 19%);
}